{% load i18n %}
<ul class="navbar-nav sb-2 order-1 col justify-content-between align-items-center" style="padding-right:20px;">
    <li><a href="{% url 'news-type' type='Events' %}" class="nav-link">{% trans "Events" %}</a></li>
    <li><a href="{% url 'news-type' type='News' %}" class="nav-link">{% trans "News" %}</a></li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Research" %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'news-type' type='Analytics' %}">{% trans "Analytics" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'news-type' type='Opinion' %}">{% trans "Opinion" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'news-type' type='Op-eds' %}">{% trans "Op-eds" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'index_ergosum'%}">{% trans "Index ERGOSUM" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'annual_report'%}">{% trans "Annual report" %}</a></li>
        </ul>
    </li>
    <li><a href="{% url 'blog' %}" class="nav-link">{% trans "Blog" %}</a></li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Policy areas" %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='foreign-policy' %}">{% trans "Foreign policy" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='internal-policy' %}">{% trans "Internal policy" %}</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='economics' %}">{% trans "Economics" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='security' %}">{% trans "Security" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='education' %}">{% trans "Education" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='democracy' %}">{% trans "Democracy" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='human-rights' %}">{% trans "Human rights" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'policy_area' slug='culture' %}">{% trans "Culture" %}</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Media" %}
        </a>
        <ul class="dropdown-menu dropdown-menu-media" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'podcast' %}">{% trans "Podcasts" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'videos' %}">{% trans "Videos" %}</a></li>
        </ul>
    </li>
</ul>
