{% load i18n %}
<ul class="navbar-nav sb-1 col order-2 justify-content-around align-items-center cronis-nav-anime" style="padding-left: 100px;">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "About" %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'mission' %}">{% trans "Mission" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'vision' %}">{% trans "Vision" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'key_documents' %}">{% trans "Key-documents" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'team' %}">{% trans "Team" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'general_members' %}">{% trans "General members" %}</a></li>
<!--            <li><a class="dropdown-item" href="{% url 'board' %}">{% trans "Board" %}</a></li>-->
        </ul>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Join us" %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'join_team' %}">{% trans "Join team" %}</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'volunteer' %}">{% trans "Volunteer" %}</a>
            </li> 
        </ul>
    </li>
    <li><a href="{% url 'library' %}" class="nav-link">{% trans "Library" %}</a></li>
    <li><a href="{% url 'all_donate' %}" class="nav-link" style="color: #ffcd00;">{% trans "Donate" %}</a></li>
</ul>