{% load i18n %}
<div class="col">
    <a href="{{ news.get_absolute_url }}"
       class="text-dark text-decoration-none">
        <div class="card">
            <div class="d-flex align-items-center justify-content-center" style="height: 215px;">
                <img src="{{ news.banner.url }}"
                     class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover"
                     alt="...">
            </div>
            <div class="card-body card-custom d-flex align-content-center justify-content-center flex-wrap">

                {% if CURRENT_LANGUAGE == "uk" %}
                <h5 class="card-title">
                    {{ news.uk_title }}
                </h5>
                <p class="card-text">
                    {{ news.uk_subtitle }}
                </p>
                {% else %}
                <h5 class="card-title">
                    {{ news.en_title }}
                </h5>
                <p class="card-text">
                    {{ news.en_subtitle }}
                </p>
                {% endif %}

            </div>
    </a>

            <div class="d-flex justify-content-between card-footer bg-transparent border-secondary">
                <a href="{% url 'news-type' type=news.type %}" class="text-decoration-none">
                    <small class="text-muted fs-6" style="margin-right: 10px;">{% trans news.type.type %}</small>
                </a>
            </div>
        </div>
</div>