{% extends "blog/base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="p-3"></div>
<div class="container">
    <div class="row">
        <div class="col-md order-md-2">
            {% if CURRENT_LANGUAGE == "uk" %}
                <div class="anual-img">
                    {% include 'include/media/bg_photo_anual.html' %}
                </div>
            {% else %}
                <div class="anual-img">
                    {% include 'include/media/bg_photo_anual.html' %}
                </div>
            {% endif %}
        </div>
        <div class="col-md order-md-1">
            <h1>{% trans "Annual report" %}</h1>
            <p class="card-text annual-text">
                {% if CURRENT_LANGUAGE == "uk" %}
                    {% include 'translates/uk/annual_report.html' %}
                {% else %}
                    {% include 'translates/en/annual_report.html' %}
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock content %}