{% extends "blog/base_generic.html" %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block content %}
<div class="p-3"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-2">
            {% if CURRENT_LANGUAGE == "uk" %}
                <div class="index-img">
                    {% include 'include/media/bg_photo_index.html' %}
                </div>
            {% else %}
                <div class="index-img">
                    {% include 'include/media/bg_photo_index.html' %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 order-md-1">
            <h1>{% trans "Index ERGOSUM" %}</h1>
            <p class="card-text">
                {% if CURRENT_LANGUAGE == "uk" %}
                    {% include 'translates/uk/index_ergosum.html' %}
                {% else %}
                    {% include 'translates/en/index_ergosum.html' %}
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock content %}