<a href="{% url 'post-detail' type=news.type.slug slug=news.slug %}" class="text-dark text-decoration-none">
    <div class="card mb-5">
        <div class="row g-0">
            <div class="col-md-4" style="height: 273px;">
                <img src="{{ news.banner.url }}"
                     class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover" alt="...">
                <div class="card-img-overlay">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body " style="height: 235px;">

                    {% if CURRENT_LANGUAGE == "uk" %}
                        <h5 class="card-title">{{ news.uk_title }}</h5>
                        <p class="card-text">{{ news.uk_subtitle }}</p>
                    {% else %}
                        <h5 class="card-title">{{ news.en_title }}</h5>
                        <p class="card-text">{{ news.en_subtitle }}</p>
                    {% endif %}


                </div>
                <div class="d-flex justify-content-between card-footer bg-transparent border-secondary">
                    <small class="text-muted">{{ news.date_of_creation }}</small>
                    <small class="text-primary">{{ news.policy_area }}</small>
                </div>
            </div>
        </div>
    </div>
</a>