{% load i18n %}
<footer class="text-center text-white main-bg">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Telegram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-telegram"></i>
            </a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            {% if form %}
            <form method="post">
                <div class="row  d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>{% trans 'Enter' %} e-mail</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="col-auto">
                        <button type="submit" name='subscribe' class="btn btn-outline-light mb-4">{% trans 'Subscribe' %}</button>
                    </div>
                </div>
            </form>
            {% endif %}

        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row justify-content-around">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{% trans 'Contacts' %}</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">+380505192310</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">+380506027038</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">E-mail</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Info@ergosum-europa.eu</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{% trans 'Locate' %}</h5>
                    <p>
                        {% trans 'Lobanovskogo Avenue 4a, Kyiv, Ukraine' %}
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        ERGOSUM
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->