{% load i18n %}
<footer class="text-center text-white main-bg">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Telegram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-telegram"></i>
            </a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            {% if form %}
            <form method="post">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>{% trans 'Enter' %} e-mail</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <button type="submit" name="subscribe" class="btn btn-outline-light mb-4 w-100 d-md-block d-sm-none ml-md-1">{% trans 'Subscribe' %}</button>
                    </div>
                </div>
            </form>
            {% endif %}

        </section>
        <!-- Section: Form -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row justify-content-around">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{% trans 'Contacts' %}</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p class="text-white phone-p">+380505192310</p>
                        </li>
                        <li>
                            <p class="text-white phone-p">+380506027038</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">E-mail</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="mailto:info@ergosum-europa.eu" class="text-white">info@ergosum-europa.eu</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{% trans 'Locate' %}</h5>
                    <p>
                        {% trans 'Lobanovskogo Avenue 4a, Kyiv, Ukraine' %}
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2); color:#ffcd00;">
        © 2022 ERGOSUM: All Rights Reserved
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->