{% load i18n %}

{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

<ul class="col-12 order-0 text-end nav lang_butt">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ CURRENT_LANGUAGE }}
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
            {% for language in languages %}
            <li>
                <a class="dropdown-item"
                   href="/{{ language.code }}/{{ request.get_full_path|slice:" 4:" }}"
                {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                {% if language.name_local == "Українська" %}
                Українська 🇺🇦
                {% else %}
                English 🇬🇧
                {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>