<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    .book-baner{
        height: 255px;
        width: 170px;
    }
    .book-content{
        text-align: justify;
    }
</style>

<div class="book-ditale-card">
    <div class="text-center">Book name</div>
    <div class="book-body d-flex gap-3">
        <img class="book-baner pt-2" src="https://picsum.photos/1080/1920" alt="Book cover">
        <div class="book-content ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque a quos voluptas hic, pariatur placeat accusantium omnis nulla consequuntur cumque? Ad officiis quas ratione aliquam corrupti nemo aliquid ut velit!</div>    
    </div>
</div>