Our team of experts is currently working on the development of a novel methodology based on elements of
the EU’s own membership criteria to analyze and assess how Ukraine is getting through with reforms and
transformations on the way to full-fledged EU membership.
Soon on this page you will find details of methodology, Evaluation Index implementation history and case
studies, actual ratings and progress reports, expert opinions on the reliability of the instrument as
well as simplicity of its usage.
