ERGOSUM project aims to create new research terrain on contemporary EU-Ukraine relations, embedded
within a framework of enlargement studies and Europeanisation and based on intensive collaboration
between European and Ukrainian scientists. In so doing, the project aims to raise the quality of joint
Euro-Ukrainian research on topics of mutual interest, via joint publications and other collaborative
activities for the academic communities, civil society and other stakeholders.
To succeed the project will also aim to create stakeholder network (Platform of Expertize), that bring
together academics, experts, policy makers, young leaders and civil society from Ukraine and EU.
The project also aims to develop a novel methodology, using elements of the EU’s own membership criteria
to analyze and assess how Ukraine get through with reforms and transformations on the way to
full-fledged EU membership (Evaluation Index).
A wide expert network of scientists, politicians, representatives of civil society from Ukraine and the
countries of the European Union will be involved in the development of the Index criteria and mechanism
of usage. The creation of such network is indicated in goal number 1.