@font-face {
    font-family: "lemonde";
    src: url("../fonts/le-monde-journal.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Haarlemmer";
    src: url("../fonts/haarlemmer.woff2");
    font-weight: normal;
}

body{
    min-height: 100vh;
    background: #f4f4f4;
    font-size: 19px;
    font-family: "lemonde",serif;
}

body header .lang_butt {
    display: none;
}

body .type-header {
    letter-spacing: 0.02em;
    font-family: "Larsseit","Arial",serif;
    font-size: 30px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
/* .main-header{
    height: 200px;
} */

nav {
    letter-spacing: 0.02em;
    font-size: 18px;
    background: #263A75;
    height: 200px;
}

nav .logo-container {
    width: 25%;
}

nav .navlinks-container {
    width: 75%;
}

.nav-div{
    padding-left: 0 px !important;

}

.header-nav-bar{
    height: 224px;
}

.custom-font-size{
    font-size: 25px;
}

.header-content{
    margin: 0;
    padding: 0;
}

.font-size-custom-navbar{
    font-size: 25px;
    margin-bottom: -20px;
    margin-top: 45px;
}

.logo,
.logo-side{
    height: 155px;
    width: 155px;
}

.card-custom-blog{
    height: 165px;
}

.phone-p {
    margin-bottom: 0 !important;
}

.text-sides-decor {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #b8b8b8; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.span-underline {
    background:#f4f4f4; 
    padding:0 10px; 
}

.blog-title {
    margin: 10px 0 15px 0px;
}

.blog-card-content {
    font-size: 16px;
    width: 85%;
    color: #898989;
    font-family: "Haarlemmer","Georgia",serif;
    line-height: 1.2em;
}

.blog-card-author {
    font-size: 14px;
}

.author-blog-body { 
    padding-left: 4rem;
}
.author-blog-name {
    font-size: 50px;
    line-height: 60px;
}

.blog-link {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color:#004494;
}

.blogart-title {
    font-weight: bold !important;
    line-height: 1em;
}

.blog-link:hover {
    text-decoration: underline;
    color:#004494;
}

.footer-form {
    margin-left: 100px;
}

.container {
    margin-bottom: 32px;
}

.team-members-align {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.subresources-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.annual-text {
    padding-top: 30px
}

.blogscholar-name {
    font-family: "PT Serif", serif;
}

@media (max-width: 1440px) {
    .logo,
    .logo-side{
        height: 150px;
        width: 150px;
    }

    .lang_butt{
        margin-left: 130px !important;
        margin-top: -5px !important;
        margin-bottom: -5px !important;
    }

    .cronis-nav-anime{
        gap: 5px !important;
    }

    .post-body{
        flex-direction: column;
        align-items: center;
    }
    .aside-hide {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .footer-form {
        margin-left: 66px;
    }

    .fs-4{
        font-size: calc(1.275rem + .1vw)!important;
    }

    .logo,
    .logo-side{
        height: 140px;
        width: 140px;
    }

    .lang_butt{
        margin-left: 110px !important;
        margin-top: -5px !important;
        margin-bottom: -5px !important;
    }

    .phone-volunteer input{
        width: 325px !important;
    }

    .eye-pass{
        height: 38.1px !important;
    }
    
    .side-navbar{
        z-index: 1024;
    }

    .fs-4{
        font-size: 1rem!important
    }

    .text-cronis{
        align-items: center!important;
    }

    .cronis-item-1{
        text-align: center!important;
        order: 1
    }

    .cronis-item-2{
        text-align: center!important;
        order: 0
    }

    .lang_butt{
        justify-content: center!important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        order:1!important;
    }

    .logo-none{
        visibility:hidden;
    }

    .body-cronis-post img{
        height: 100% !important;
        width: 100% !important;
    }
    .card-castom{
        height: 330px !important;
    }
    .card-custom-blog{
        height: 270px !important;
    }
    .post-container{
        margin-inline: 0 0;
    }
    .fix-resume-form {
        max-width: 70% !important;
    }

}

@media (max-width: 768px) {
    .navbar-dark {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
    }

    .sub-butt {
        width: 345px!important;
    }

    
    body .card {
        border-top: 1px solid rgba(0,0,0,.125);
        border-bottom: 1px solid rgba(0,0,0,.125);
        border-right: none;
        border-left: none;
    }

    body header .lang_butt {
        display: block;
    }

    .container .row-cols-1 col h1 {
        text-align: center;
    }

    .container .text-muted {
        font-size: 16px !important;
    }

    .container .card-text {
        font-size: 16px;
    }

    .container .col {
        padding: 0 !important;
    }
    .container .card-img-top {
        padding: 0;
    }
    .container .col, .col-12 {
        padding: 0;
    }

    .container .anual-img,.container .visio-img,.container .misio-img,.container .index-img {
        padding-top: 0;
        padding-bottom: 10px;
    }

    .phone-volunteer input{
        width: 205px !important;
    }

    header{
        height: 200px !important;
    }
    header .lang_butt {
        position: relative;
        top: -60px;
    }
    
    .header-logo-text {
        display: none;
    }
    
    .card-custom{
        height: 150px !important;
    }
    .card-custom-blog{
        height: 160px !important;
    }
    .team_member_photo img{
        height: 460px !important;
        width: 335px !important;
    }
    .form-control{
        margin-bottom: 10px !important;
    }
    .body-cronis-post{
        width: auto !important;
    }
    .card-castom{
        height: auto !important;
    }
    .personal-blog-card{
        width: auto !important;
    }
    .misio-img-uk,
    .misio-img-en,
    .visio-img-uk,
    .visio-img-en{
        width: auto !important; 
        height: auto !important;
    }
    .fix-resume-form {
        max-width: 95% !important;
    }

    .lang_butt {
        position: absolute;
        right: 0;
        left: 9px;
        width: 90px;
        top: 19px;
    }

    li .dropdown-item {
        font-size: 20px;
        padding: 0.25rem 1.1rem;
    }
    
    nav .logo-container {
        width: 100%;
        height: 115px;
    }

    nav .navlinks-container {
        width: 95%;
    }

    .header-search-container{ 
        display: none;
    }

    footer form .row .col-auto {
        width: 100% !important;
    }

    .col-auto .btn {
        width: 100% !important;
    }

    body .post-content img {
        width: 100% !important;
    }

    .post-content .card-title{
        font-size: 22px;
    }

    .post-content .body-cronis-post {
        padding: 0 10px;
    }
    body .anual-img img{
        width: 100%;
    }
    .annual-text {
        padding-top: 10px
    }
    body .card-gm {
        height: 325px;
    }
    .book-content {
        padding: 0 12px !important;
    }
    .book-detail {
        padding: 0 12px;
    }
    .body-text-member {
        padding: 0 12px;
    }
}

@media (max-width: 426px) {
    .footer-form {
        margin-left: unset;
    }

    body .sub-butt {
        width: unset !important;
    }
    .card-video{
        width:100%!important;
    }
    .logo,
    .logo-side{
        height: 100px;
        width: 100px;
    }
    .phone-volunteer select{
        width: 130px !important;;
    }
    .phone-volunteer input{
        width: 271px !important;;
    }
    .form-control{
        margin-bottom: 10px !important;
    }
    .card-custom{
        height: 225px !important;
    }
    .card-custom-blog{
        height: 240px !important;
    }
    .body-cronis-post{
        width: 402px !important;
    }
    .post-foto > img {
        width: 100% !important;
    }
    .hide-date-author-pa {
        display: none;
    }
    .fix-resume-form {
        max-width: 100% !important;
    }
    body .post-content .body-cronis-post {
        width: 100% !important;
    }

}


@media (max-width: 376px) {
    .logo,
    .logo-side{
        height: 95px;
        width: 95px;
    }
    .phone-volunteer select{
        width: 127px !important;;
    }
    .phone-volunteer input{
        width: 224px !important;;
    }
    .card-custom{
        height: 255px !important;
    }
    .card-custom-blog{
        height: 266px !important;
    }
    .body-cronis-post{
        width: 352px !important;
    }
}

@media (max-width: 320px) {
    .logo,
    .logo-side{
        height: 85px;
        width: 85px;
    }
    .phone-volunteer select{
        width: 308px !important;;
    }
    .phone-volunteer input{
        width: 308px !important;;
    }
    .card-custom{
        height: 290px !important;
    }
    .card-custom-blog{
        height: 290px !important;
    }
    .body-cronis-post{
        width: 296px !important;
    }
    /* .sub-butt{
        width: 272px !important;
    } */
    .hide-date-author {
        display: none !important;
    }
}


.testdiv{
    width: 100px;
    height: 100px;
    background-color: red;
}

.ob-cover{
    object-fit: cover;
}

.icon-bg-d{
    height: 50px;
    width: 50px;
    background: #000;
    border-radius: 50%;
}

.cronis-nav-donate-button-carousel {
    margin-right: 35%;
}

.cronis-carousel-control-prev{
    position: absolute;
    left: -150px;
}

.cronis-carousel-control-next{
    position: absolute;
    left: 1250px;
}

.font-bold {
  font-weight: bold;
}

.our-team-foto {
    justify-content: center;
}

.join-us-foto {
    height: 500px;
    width: 100%;
    position: relative;
}
.join-us-text {
    position: absolute;
}

.card-foto {
    height: 400px;
}

.body-cronis-post {
    margin: auto;
    width: 850px;
}

.body-cronis-post p {
    text-align: justify;
    font-family: "Haarlemmer","Georgia",serif;
}

.body-text-member {
    font-family: "Haarlemmer","Georgia",serif;
}

.book-content p {
    font-family: "Haarlemmer","Georgia",serif;
}

.post-foto {
    height: 570px;
    width: 100%;
    position: relative;
}

.post-foto > img {
    width: 95% !important;
} 

.card-title {
    text-align: center;
    font-weight: bold !important;
    line-height: 1em; 
}

.body-cronis-post img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.lang_butt {
    justify-content: flex-end;
    margin-left: 130px;
    margin-bottom: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-navbar {
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: #100901;
  visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.side-navbar ul {
    align-items: start !important;
}

.sidebar-home {
    align-items: end !important;
}
.nav-link{
    color: #fff;
    transition: all .3s ease;
}
.nav-link:hover {
    color: #fcff55 !important;
    transform: translate(0px,-7px);
}

.nav-link:focus {
    color: #fcff55 !important;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  visibility: visible;
}


.active-cont {
  margin-left: 250px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.close-sidebar {
    cursor:pointer;
    transition: box-shadow .15s ease-in-out;
}

.site-dark:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.card {
    margin: 20px 0px;
}

.card > img {
    height: 500px;
}

.card-donate {
    max-width: 540px;
    height: 105px;
}

.main-join-team * {
    padding-top: 7px;
}

.checkbox-join-team {
  margin: 10px auto;
}

.special-link{
    display:block;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.key-doc-link a{
    text-decoration: none;
    color: black;
}

.card-text{
    font-family: "Haarlemmer","Georgia",serif;
    line-height: 1.2em;
}

.card-policy-area {
    margin-right: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}


.card-title, main h1,main h3 {
    color:#004494;
    display: flex;
    justify-content: center;
}

.header-bg{
    background-color: #072461;

}

footer{
    background-color: #003470;
}

header{
    width: 100%;
}

.bg-header{
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-header::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
}




.dropdown-item{
    color: #00309a;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.bg-dark-for-photo{
    position: absolute;
}

.phone-volunteer select{
    width:130px;
}

.phone-volunteer input{
    width:505px;
}

.card-gm{
    min-width:250px; 
    height:288px;
    text-align: center;
    word-spacing: -1px;
}

.gm-image {
    height: 100%;
}

.gm-text {
    display: flex;
    align-items: end;
    justify-content: center;
}

.key-doc img{
    width: 90%;
    height: 95%;
}

.carousel-img::before{
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));
    position: absolute;
}

.dropdown-menu-media[data-bs-popper] {
    top: 100%;
    left: -10%;
}

.dropdown-menu[data-bs-popper] a {
    font-size: 19px !important;
}

header{
    position: relative;
}

header a{
    font-size: 27px;
}


.donate-img{
    height: 250px;
    width: 250px;
}


.pay{
    border: solid 3px black;
    border-radius: 50%;
}

.text-logo{
    position: absolute;
    top: 80%;
    left: 12%;
    color: #ffcd00;
}

.text-logo-ergs{
    position: absolute;
    top: 0;
    left: 45%;
    color: #ffcd00;
}


.donate-button img{
    height: 150px;
}

.donate-button{
    display: flex;
    justify-content: center;
    height: 170px;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
        background: #f0f0f0;
        box-shadow:  6px 6px 12px #c7c7c7, -6px -6px 12px #ffffff;
}

.donate-button:active{
    animation-name: press;
    animation-duration: 0.10s;
}

@keyframes press{
    0% {
        border-radius: 15px;
        background: #f0f0f0;
        box-shadow:  6px 6px 12px #c7c7c7, -6px -6px 12px #ffffff;
    }
    25% {
        border-radius: 15px;
        background: linear-gradient(145deg, #d8d8d8, #ffffff);
        box-shadow:  5px 5px 10px #cecece,
                    -5px -5px 10px #ffffff;
    }
    75% {
        border-radius: 15px;
        background: #f0f0f0;
        box-shadow: inset 5px 5px 10px #cecece,
                    inset -5px -5px 10px #ffffff;
    }
    100% {
        border-radius: 15px;
        background: #f0f0f0;
        box-shadow:  6px 6px 12px #c7c7c7, -6px -6px 12px #ffffff;
    }
}

.fix-side-opt{
    gap: 0rem !important;
}

.card-custom{
    height: 208px;
}

.blog-person-card{
    height: 95px !important;
}

.text-align-justify{
    text-align: justify;
}

.hr-blog{
    position: absolute;
    right: 0;
    top: 2.9%;
    background: #f0f0f0;
    padding: 0 10px;
}

.container-for-hr-blog{
    position: relative;
}

.misvis-img {
    padding-top: 60px;
    width: 100%; 
    height: 100%;
}
.misvis-img img{
    height: 100%;
}

.index-img img{
    width: 100%; 
    height: 100%;
}

.anual-img{
    padding-top: 0px;
}

.anual-img img{
    width: 75%; 
}

.form-library > div{
    padding-bottom: 10px;
}

.team_member_photo img{
    height: 715px;
    width: 465px;
    margin-top: 10px;
}

.body-text-member p{
    text-align: justify;
    margin-bottom: 21px;
}

.eye-pass{
    width: 45px;
    border-radius: 0.25rem;
    background-color: white;
    border: 1px solid #ced4da;
}

.eye-pass:hover{
    cursor: pointer;
}

.lib-journals-text{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
}

.lib-journals-image{
    position: relative;
    width: 100%;
    height: 110px;
    
}

.lib-journals-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.lib-journals-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.lib-magazines-text{
    color: rgb(45,98,183);
    font-size: 1.25rem;
    font-weight: bold;

}

.lib-magazines-image{
    width: 140px;
    height: 210px;
    padding-bottom: 25px;
}

.lib-magazines-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.lib-books-image{
    width: 110px;
    height: 150px;

}

.image-container img{
    width: 170px; 
    height: 255px;
    object-fit: contain;
}

.last-news-aside{
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0,0,0,.125);
}

.book-title{
    min-height: 90px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.book-banner{
    width: 204px;
}
.book-content{
    text-align: justify;
}

.card-castom{
    height: 225px;
}

.fix-resume-form {
    max-width: 50%;
}

.required-field::before {
    content: "*";
    color: red;
}

.team-position p {
    margin-bottom: 0;
    text-align: center;
}

.news-section-link {
    border-radius: 30px;
    padding: 0.25rem 1rem;
    text-decoration: none;
}


.scholar-left-border {
    border-left: 3px solid #3077c9;
    padding-left: 10px;
}