.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
/* .main-header{
    height: 200px;
} */

nav{
    padding: 0px !important;
}

.nav-div{
    padding-left: 0 px !important;

}

.logo {
    height: 160px;
    width: 160px;
}

.header-nav-bar{
    height: 224px;
}

.custom-font-size{
    font-size: 25px;
}

.header-content{
    margin: 0;
    padding: 0;
}

.font-size-custom-navbar{
    font-size: 25px;
    margin-bottom: -20px;
    margin-top: 45px;
}

@media (max-width: 1400px) {
    .logo{
        height: 121.5px;
        width: 121.5px;
    }

    .logo > img{
        height: 121.5px;
        width: 121.5px;
    }

    .lang_butt{
        margin-left: 130px!important;
        margin-top: -5px!important;
        margin-bottom: -5px!important;
    }
}

@media (max-width: 1200px) {
    .fs-4{
        font-size: calc(1.275rem + .1vw)!important;
    }

    .lang_butt{
        margin-left: 110px!important;
        margin-top: -5px!important;
        margin-bottom: -5px!important;
    }

    .card-custom{
        height: 195px!important;
    }
}

@media (max-width: 991px) {

    .fs-4{
        font-size: 1rem!important
    }

    .text-cronis{
        align-items: center!important;
    }

    .cronis-item-1{
        text-align: center!important;
        order: 1
    }

    .cronis-item-2{
        text-align: center!important;
        order: 0
    }

    .lang_butt{
        justify-content: center!important;
        margin-left: 0px!important;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        order:1!important;
    }

    .card-custom{
        height: 288px!important;
    }
}

@media (max-width: 767px) {

    .card-custom{
        height: 125px!important;
    }
}

@media (max-width: 400px) {
    .card-video{
        width:100%!important;
    }
}
.testdiv{
    width: 100px;
    height: 100px;
    background-color: red;
}

.ob-cover{
    object-fit: cover;
}

.icon-bg-d{
    height: 50px;
    width: 50px;
    background: #000;
    border-radius: 50%;
    /* margin-left: -20px; */
}

.cronis-nav-button-carousel {
    margin-right: 35%;
}

.cronis-carousel-control-prev{
    position: absolute;
    left: -150px;
}

.cronis-carousel-control-next{
    position: absolute;
    left: 1250px;
}

.font-bold {
  font-weight: bold;
}

footer{
    margin-top: 10%;
}

.our-team-foto{
    justify-content: center;
}

.join-us-foto{
    height: 500px;
    width: 100%;
    position: relative;
}
.join-us-text{
    position: absolute;
}

.card-foto{
    height: 400px;
}

.body-cronis-post img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.beam-cronis{
    height: 207px;
}*/

.card-custom{
    height: 170px;
}

.lang_butt{
    justify-content: flex-end;
    margin-left: 130px;
    margin-bottom: 25px;
}