<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>{{title}}</title>
</head>
<body>

<div class="side-navbar header-bg d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">

        <div class="position-absolute top-0 end-0">
            <i class="bi bi-x fs-1 close-sidebar" id="menu-btn-close"></i>
        </div>


        <a class="navbar-brand logo-side m-4 p-0" href="{% url 'homepage' %}">
            <!-- {% include 'include/media/logo.html' %} -->
        </a>

        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

        <ul class="col-12 text-end nav lang_butt mb-3 mb-lg-0 me-lg-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span style="text-transform:uppercase">{{ CURRENT_LANGUAGE }}</span>
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    {% for language in languages %}
                    <li>
                        <a class="dropdown-item"
                           href="/{{ language.code }}/{{ request.get_full_path|slice:" 4:" }}"
                        {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                        {% if language.name_local == "Українська" %}
                        Українська
                        {% else %}
                        English
                        {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <form name="search" method="GET" action="{% url 'search' %}" class="col-12 order-1 col-xl-3 mb-3 mb-xl-0 me-xl-3">
            <input type="text" name="search" class="form-control form-control-dark"
                   placeholder="{% trans 'Search' %}..."
                   aria-label="Search">
        </form>

        {% include 'include/header/header_top.html' %}

        {% include 'include/header/header_bottom.html' %}

    </ul>

</div>
<!-- <header class="sticky-top"> -->
<header>
    <div class="bg-header">
        <img src="https://res.cloudinary.com/infoblog567/image/upload/v1674668099/static/header_logo/%D1%88%D0%B0%D0%BF%D0%BA%D0%B02_q8abpg.jpg">
    </div>
    <nav class="navbar navbar-expand-xl navbar-dark">
        <a class="navbar-brand position-absolute top-0 start-0 p-0" href="{% url 'homepage' %}">
            {% include 'include/media/logo.html' %}
            <div class="text-logo text-center">European Research <br> Group Of Support <br> for<br> Ukrainian Membership</div>
        </a>
        <div style="width: 400px;"></div>
        <div class="d-flex align-items-end justify-content-end text-cronis w-100">
        <button class="navbar-toggler" type="button" id="menu-btn-open" style="margin:6%;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end h-100" id="navbarNav">
            <div class="row me-0" style="height: 300px;">
                <div class="row cronis-item-1">

                    {% include 'include/header/header_top.html' %}

                    <form name="search" method="GET" action="{% url 'search' %}"
                            class="col-12 order-2 col-lg-3 mb-3 mb-lg-0 me-lg-3 d-flex align-self-center" >
                        <input type="text" name="search" class="form-control form-control-dark"
                                placeholder="{% trans 'Search' %}..."
                                aria-label="Search">
                    </form>

                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

                    <ul class="col-12 order-0 text-end nav justify-content-end align-self-center">
                        <li class="nav-item dropstart">
                            <a class="special-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span style="text-transform:uppercase; color: #ffcd00;">{{ CURRENT_LANGUAGE }}</span>
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                {% for language in languages %}
                                <li>
                                    <a class="dropdown-item"
                                        href="/{{ language.code }}/{{ request.get_full_path|slice:" 4:" }}"
                                    {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                                    {% if language.name_local == "Українська" %}
                                    Українська
                                    {% else %}
                                    English
                                    {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="row cronis-item-2 fs-4">

                        {% include 'include/header/header_bottom.html' %}

                </div>
            </div>
        </div>
        </div>
    </nav>
</header>
<main>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success text-center" role="alert" style="margin-bottom: 0px;">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger text-center" role="alert" style="margin-bottom: 0px;">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning text-center" role="alert" style="margin-bottom: 0px;">
            {% endif %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}

    {% block content %}

    {% endblock %}

</main>

{% include 'include/footer.html' %}

<!-- JavaScript Bundle with Popper -->
<script src="https://kit.fontawesome.com/a94260e078.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static '/js/index.js' %}"></script>
</body>
</html>