{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="container">
    
    <div class="text-center pt-3">
        <h1>{% trans "Expert League" %}</h1>
    </div>

    <div class="mx-auto personal-blog-card" style="width: 750px;">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% for scholar in blog_scholars %}
                {% include 'include/cards_blogs/card_home_page.html' %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}