{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="p-1"></div>

<div class="container">

    <div class="text-center">
        <h1>{% trans "Personal blog" %}</h1>
    </div>

    {% for scholar in blog_scholars %}
        <a href="#" class="text-dark text-decoration-none">
            <img src="{{ scholar.image.url }}"
                class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover"
                alt="..."
                height="50px"
            >
        
            <strong>Name:</strong> {{ scholar.en_full_name }} - {{ scholar.uk_full_name }}
            <br>
            <strong>Position:</strong> {{ scholar.en_position }} - {{ scholar.uk_position }}
            <br>
            <strong>Link to resource:</strong> {{ scholar.link }}
            <br>
            <strong>Slug:</strong> {{ scholar.slug }}
        </a>
    {% endfor %}

    {% include 'include/cards_news.html' %}

    {% include 'include/pagination.html' %}

</div>
{% endblock content %}