{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="m-5"></div>
    <div class="container text-break">

    {% if CURRENT_LANGUAGE == "uk" %}
        <h5 class="card-title">
            {{ post.uk_title }}
        </h5>
        <span><a href={{ post.author.link }}>{{ post.author.uk_full_name }}</a></span>
        <div class="body-cronis-post ">
            {{ post.uk_content | safe }}
        </div>
        {% else %}
        <h5 class="card-title">
            {{ post.en_title }}
        </h5>
        <span>by <a href={{ post.author.link }}>{{ post.author.en_full_name }}</a></span>
        <div class="body-cronis-post ">
            {{ post.en_content | safe }}
        </div>
    {% endif %}
    <div class="p-4"></div>
    <div class="row bg-gray">
        <div class="col">{{ post.date_of_creation }}</div>
    </div>
    <hr>
</div>

{% endblock %}