{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="m-5"></div>
    <div class="container text-break text-center container-for-hr-blog">

    {% if CURRENT_LANGUAGE == "uk" %}
        <h1 class="card-title">
            {{ post.uk_title }}
        </h1>
        <div class="p-1"></div>
        <hr>
        <h4 class="text-end "><a class="text-primary hr-blog" style="text-decoration: none" href={{ post.author.link }}>{{ post.author.uk_full_name }}</a></h4><br>
        <div class="body-cronis-post ">
            {{ post.uk_content | safe }}
        </div>
    {% else %}
        <h1 class="card-title">
            {{ post.en_title }}
        </h1>
        <div class="p-1"></div>
        <hr>
        <h4 class="text-end "><a class="text-primary hr-blog" style="text-decoration: none" href={{ post.author.link }}>{{ post.author.en_full_name }}</a></h4><br>
        <div class="body-cronis-post ">
            {{ post.en_content | safe }}
        </div>
    {% endif %}
    <div class="p-4"></div>
    <div class="row bg-gray">
        <div class="col text-end">{{ post.date_of_creation }}</div>
    </div>
    <hr>
</div>

{% endblock %}