{% extends "blog/base_generic.html" %}

{% block content %}
<h1>Info Blog Home</h1>

  <p>Welcome to <em>Info Blog</em>.</p>

  <p>The blog has the following last news:</p>
  <ul>
    <li><strong>News:</strong> {{ last_news }}</li>
    <li><strong>Op-eds:</strong> {{ last_opeds }}</li>
    <li><strong>Analytics:</strong> {{ last_analytics }}</li>
    <li><strong>Opinions:</strong> {{ last_opinions }}</li>
  </ul>

<div class="col-12">
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
</div>
{% if form %}

<div class="col-12 col-md-4">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-success">Subscribe!</button>
    </form>
</div>
{% endif %}


  
{% endblock %}