{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="container pt-1">
    
    {% if blog_posts %}
        
        {% if news_type == 'News' %}
            <div class="text-center pt-3">
                <h1>{% trans "News" %}</h1>
            </div>
            {% include 'include/cards_news.html' %}
        {% elif news_type == 'Analytics' %}
            <div class="text-center pt-3">
                <h1>{% trans "Analytics" %}</h1>
            </div>
            {% include 'include/cards_analytics.html' %}
        {% elif news_type == 'Opinion' %}
            <div class="text-center pt-3">
                <h1>{% trans "Opinion" %}</h1>
            </div>
            {% include 'include/cards_opinion.html' %}
        {% elif news_type == 'Events' %}
            <div class="text-center pt-3">
                <h1>{% trans "Events" %}</h1>
            </div>
            {% include 'include/cards_news.html' %}
        {% elif news_type == 'Op-eds' %}
            <div class="text-center pt-3">
                <h1>{% trans "Op-eds" %}</h1>
            </div>
            {% include 'include/cards_op_eds.html' %}
        {% endif %}

    {% endif %}

    {% include 'include/pagination.html' %}

</div>

{% endblock content %}