{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

    <div class="text-center join-us-foto d-flex align-items-center justify-content-center">
        <img src="{{ post.banner.url }}" class="d-block mx-auto w-100 h-100 ob-cover">
        <div class="h1 text-white join-us-text">
            {{ post.title }}
        </div>
    </div>

    <div class="m-5"></div>
<div class="container text-break">

    {% if CURRENT_LANGUAGE == "uk" %}
        <h5 class="card-title">
            {{ post.uk_title }}
        </h5>
        <div class="body-cronis-post ">
            {{ post.uk_content | safe }}
        </div>
        {% else %}
        <h5 class="card-title">
            {{ post.en_title }}
        </h5>
        <div class="body-cronis-post ">
            {{ post.en_content | safe }}
        </div>
    {% endif %}
    <div class="p-4"></div>
    <div class="row bg-gray">
        <div class="col">{{ post.date_of_creation }}</div>
        <div class="col text-end">{{ post.policy_area }}</div>
    </div>
    <hr>
</div>

{% endblock %}