{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

    <div class="m-5"></div>
<div class="container text-break">

    {% if CURRENT_LANGUAGE == "uk" %}
        <h1 class="card-title">
            <b>{{ post.uk_title }}</b>
        </h1>
        
        <div class="p-3"></div>

        <div class="d-flex gap-3">
            <div class="post-author">
                <b>{{ post.author.uk_full_name }}</b>
            </div>
            <div class="post-date text-muted">
                <small>{{ post.date_of_creation }}</small>
            </div>
            {% if post.policy_area %}
            <div class="post-poicy-area ms-auto">
                {% if post.policy_area == "Human rights" %}
                    <a href="{% url 'human_rights' %}">
                        {{ post.policy_area }}
                    </a>
                {% endif %}
                {{ post.policy_area }}
            </div>
            {% endif %}
        </div>
        
        <hr class="m-1 mb-4">
        
        <div class="text-center post-foto d-flex align-items-center justify-content-center">
            <img src="{{ post.banner.url }}" class="d-block mx-auto w-100 h-100 ob-cover">
        </div>
        <div class="p-3"></div>
        <div class="body-cronis-post fs-4 text-center">
            {{ post.uk_content | safe }}
        </div>
        
        {% else %}

        <h1 class="card-title">
            <b>{{ post.en_title }}</b>
        </h1>
        
        <div class="p-3"></div>

        <div class="d-flex gap-3">
            <div class="post-author">
                <b>{{ post.author.enfull_name }}</b>
            </div>
            <div class="post-date text-muted">
                <small>{{ post.date_of_creation }}</small>
            </div>
            {% if post.policy_area %}
            <div class="post-poicy-area ms-auto">
                {% if post.policy_area == "Human rights" %}
                    <a href="{% url 'human_rights' %}">
                        {{ post.policy_area }}
                    </a>
                {% endif %}
                {{ post.policy_area }}
            </div>
            {% endif %}
        </div>
        
        <hr class="m-1 mb-4">
        
        <div class="text-center post-foto d-flex align-items-center justify-content-center">
            <img src="{{ post.banner.url }}" class="d-block mx-auto w-100 h-100 ob-cover">
        </div>
        <div class="p-3"></div>
        <div class="body-cronis-post fs-4 text-center">
            {{ post.en_content | safe }}
        </div>
    
    {% endif %}

</div>

{% endblock %}