{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="p-1"></div>

<div class="container">
    <div class="text-center">
 
    </div>

    <div class="container-custom-blog-author pt-4 pb-3">
        <div class="author-blog row row-cols-2 d-flex">
            <div class="author-blog-image col-12 col-lg-3">
                <img src="{{author.image.url}}" alt="" class="w-100">
            </div>
            <div class="author-blog-body col-12 col-lg-9 fs-3 mt-4 mt-lg-0">
                <div class="author-blog-name">
                    {% if CURRENT_LANGUAGE == "uk" %}
                        <h1>
                            {{ author.uk_full_name }}
                        </h1>
                    {% else %}
                        <h1>
                            by {{ author.en_full_name }}
                        </h1>
                    {% endif %}   
                </div>
                <hr>
                <div class="author-blog-pos">
                    {% if CURRENT_LANGUAGE == "uk" %}
                        {{ author.uk_position }}
                    {% else %}
                            {{ author.en_position }}
                    {% endif %}
                </div>
            </div>    
        </div>
    </div>

    <p class="text-center card-title fs-1">
        {% if CURRENT_LANGUAGE == "uk" %}
                Статті
        {% else %}
                Blogs
        {% endif %}   
    </p>

    <div class="row row-cols-1 g-4">
        {% for post in blog_posts %}
            {% include 'include/cards_blogs/card_blogs.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}