{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="p-1"></div>

<div class="container">
    <div class="text-center">
 
    </div>

    <div class="container-custom-blog-author pt-4 pb-3">
        <div class="author-blog row row-cols-2 d-flex">
            <div class="author-blog-image col-12 col-lg-5">
                <img src="{{author.image.url}}" alt="" class="w-100">
            </div>
            <div class="author-blog-body col-12 col-lg-7">
                <a href="{% url 'blog' %}" class="blog-link">{% trans "Expert League" %}</a href="{ url 'blog' }">
            
                <a href="{{ author.link }}" class="text-decoration-none">
                    
                    <div class="scholar-left-border">
                        <div class="author-blog-name blogscholar-name" style="color:black !important">
                            <div>
                                {% if CURRENT_LANGUAGE == "uk" %}
                                    {{ author.uk_full_name }}
                                {% else %}
                                    {{ author.en_full_name }}
                                {% endif %}   
                            </div>
                        </div>
                        <div class="blog-card-author text-muted">
                            {% if CURRENT_LANGUAGE == "uk" %}
                                {{ author.uk_position }}
                            {% else %}
                                    {{ author.en_position }}
                            {% endif %}
                        </div>
                    </div>
                    
                </a>
                <hr>
            </div>    
        </div>
    </div>

    
    {% if blog_posts %}
        <p class="text-sides-decor"></p>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in blog_posts %}
            <div class="col">
                {% include 'include/cards_blogs/card_blogs.html' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}