{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="container">
    <!--    <h5>Page {{ page_num }}</h5>-->
    <div class="p-3"></div>
    <div class="h1">{% trans "Search Results" %}</div>
    {% if query %}
        <p>
            {% trans "Found" %} {{ posts_num }} {% trans "results for" %} “{{ query }}”
        </p>
    {% else %}
        <p>
            {% trans "Found" %} {{ posts_num }} {% trans "results" %}
        </p>
    {% endif %}
    <div class="p-1"></div>

    <form class="d-flex gap-3" name="search" method="GET" action="{% url 'search' %}">
        <input class="form-control me-1" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" style="width: 200px;" type="submit">Search</button>
    </form>

    <div class="p-3"></div>

    {% if blog_posts %}
    {% for news in blog_posts %}
    <a href="{% url 'post-detail' type=news.type.slug slug=news.slug %}" class="text-dark text-decoration-none">
    <div class="card mb-5">
        <div class="row g-0">
            <div class="col-md-4" style="height: 273px;">
                <img src="{{ news.banner.url }}"
                     class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover" alt="...">
                <div class="card-img-overlay">
            </div>
            </div>
            <div class="col-md-8">
                <div class="card-body " style="height: 235px;">

                    {% if CURRENT_LANGUAGE == "uk" %}
                        <h5 class="card-title">{{ news.uk_title }}</h5>
                        <p class="card-text">{{ news.uk_subtitle }}...</p>
                        {% else %}
                        <h5 class="card-title">{{ news.en_title }}</h5>
                        <p class="card-text">{{ news.en_subtitle }}...</p>
                        {% endif %}

                    
                </div>
                <div class="d-flex justify-content-between card-footer bg-transparent border-secondary">
                    <small class="text-muted">{{ news.date_of_creation }}</small>
                    <small class="text-muted">{{ news.type }}</small>
                </div>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
    {% endif %}


    <ul class="pagination">

            {% if blog_posts.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?{% if query %}q={{query}}&{% endif %}page={{ blog_posts.previous_page_number }}">&lsaquo;</a>
            </li>
            {% endif %}

    {% if blog_posts %}
        {% for i in blog_posts.paginator.page_range %}
            {% if blog_posts.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if blog_posts.has_next %}
    	<li class="page-item">
		  <a class="page-link"
             href="?{% if query %}q={{query}}&{% endif %}page={{ blog_posts.next_page_number }}">&rsaquo;</a>
		</li>
		<li class="page-item">
		  <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ blog_posts.paginator.num_pages }}">&raquo;</a>
		</li>
    {% endif %}

    </ul>
</div>

{% endblock %}
