{% extends "blog/base_generic.html" %}

{% block content %}

<div>
    <h5>Page {{ page_num }}</h5>
    <p>Found {{ posts_num }} results
    {% if query != "" %}
        for “{{ query }}”</p>
    {% endif %}

    {% if blog_posts %}
        {% for news in blog_posts %}
        <div>
            <strong>{{ news.title }} - {{ news.type }}</strong>
            <p><img src={{ news.banner.url }}></p>
            {{ news.subtitle }}
            {{ news.content | safe }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if blog_posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ blog_posts.previous_page_number }}">&laquo; Previous</a>
            </li>
            {% endif %}

    {% if blog_posts %}
        {% for i in blog_posts.paginator.page_range %}
            {% if blog_posts.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item" ><a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if blog_posts.has_next %}
    	<li class="page-item">
		  <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ blog_posts.next_page_number }}">Next</a>
		</li>
		<li class="page-item">
		  <a class="page-link"  href="?{% if query %}q={{query}}&{% endif %}page={{ blog_posts.paginator.num_pages }}">Last &raquo;</a>
		</li>
    {% endif %}
        </span>
    </div>
</div>

{% endblock %}
