{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="m-5"></div>
    <div class="container text-break">
        <div class="row row-cols-md-2 row-cols-1 justify-content-center">
            <div class="col text-center team_member_photo d-flex align-items-center flex-column">
                <img src="{{ post.image.url }}" class="d-block mx-auto ob-cover pb-2">
                {% if CURRENT_LANGUAGE == "uk" %}
                    <h1 class="card-title text-dark fs-2">
                        <b>{{ post.uk_full_name }}</b>
                    </h1>
                {% else %}
                    <h5 class="card-title text-dark fs-2">
                        <b>{{ post.en_full_name }}</b>
                    </h5>
                {% endif %}
            </div>
    
            <div class="col  team-member-text">
                {% if CURRENT_LANGUAGE == "uk" %}
                    <div class="body-text-member">
                        {{ post.uk_content | safe }}
                    </div>
                {% else %}
                    <div class="body-text-member">
                        {{ post.en_content | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
</div>

{% endblock %}