<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% autoescape off %}

<h3>Інформація про волонтера</h3>
<p>
    Повне ім'я: {{ full_name }}<br>
    Дата народження: {{ dob }}<br>
    Місто: {{ city }}<br>
    E-mail: {{ email }}<br>
    Номер телефону: {{ phone }}<br>
    Сфера занятості: {{ employment }}<br>
</p>

{% endautoescape %}