«ERGOSUM» – Європейська Дослідницька Група Підтримки Членства України. Це науково-дослідницький
проект спрямований на всебічну експертну підтримку вступу України до Європейського Союзу
Вторгнення Росії в Україну викликало значне посилення зусиль щодо поглиблення асоціації України з
Європейським Союзом та дало старт підготовці ґрунту для повноцінної інтеграції України в ЄС.
Факт зближення України та ЄС, означає, що концептуальні та політичні «орієнтири» відносин між ЄС та
Україною змінюються. Такий стан речей викликає гостру потребу в інформованих дослідженнях, свіжих знаннях
та експертному потенціалі з питань європейської інтеграції для підтримки України на її шляху до Європейського Союзу.
По всій Європі існує величезна політична воля та підтримка «європейської перспективи» України, і оскільки наша держава
є асоційованим членом ЄС з 2014 року, країна вже пройшла значну частину перетворень пов’язаних з адаптацією до законів
та інших норм ЄС. Однак вступ до ЄС — це ретельний кропіткий процес, який передбачає величезні бюрократичні зусилля та
технічні трансформації, при цьому кандидат повинен довести свою готовність і здатність стати членом Європейського Союзу
і відповідати вимогам, висунутим ЄС. А факти показують, що Україна постійно демонструє погані результати у
фундаментальних сферах, пов’язаних із верховенством права, демократією та належним врядуванням – які є ключовою
частиною Копенгагенських критеріїв і, ймовірно, найбільш фундаментальним вираженням цінностей ЄС.
«ERGOSUM» як проект ставить собі на меті допомогти вирішенню проблем та подоланню потенційних перешкод, що
виникатимуть у таких сферах, як верховенство права, управління та економіка, демократія та врядування, та
можуть перешкоджати європеїзації країни. А також не допустити відкату інституційних можливостей України взяти
на себе зобов’язання ЄС. Завдяки своїй діяльності проект також розширить експертний потенціал, який стане важливою
основою для переходу України від статусу кандидата до повноцінного членства та забезпечить професійну підтримку на
цьому шляху.
