Проект «ERGOSUM» має на меті створити новий дослідницький простір щодо сучасних відносин між ЄС та
Україною, вписаний у рамки досліджень розширення та європеїзації та заснований на інтенсивній співпраці
між європейськими та українськими науковцями. Таким чином, проект має на меті підвищити якість спільних
європейсько-українських досліджень на теми, що становлять взаємний інтерес, шляхом спільних публікацій
та інших спільних заходів для академічних спільнот, громадянського суспільства та інших зацікавлених
сторін.
Для досягнення вищевказаної мети проект також буде спрямований на створення мережі зацікавлених сторін
(Експертна Платформа), яка об’єднає науковців, експертів, політиків, молодих лідерів та громадянське
суспільство як з України, так і з ЄС.
Проект також спрямований на розробку нової методології, використовуючи елементи власних критеріїв
членства в ЄС для аналізу та оцінки того, як Україна проходить реформи та перетворення на шляху до
повноцінного членства в ЄС (Оціночний Індекс).
До розробки критеріїв та механізму використання Індексу буде залучена широка експертна мережа науковців,
політиків, представників громадянського суспільства з України та країн Європейського Союзу, створення
якої вказано в меті номер 1.