<div class="col" style="margin-bottom: 20px;">
    <a href="{{ post.get_absolute_url }}"
       class="text-dark text-decoration-none">
       <div class="blog-card">
            <div class="blog-date text-muted" style="font-size: 16px;">
                {{ post.date_of_creation }}
            </div>
            <div class="blog-title">
                {% if CURRENT_LANGUAGE == "uk" %}
                    <h5 class="blogart-title text-start blog-card-text">
                        {{ post.uk_title }}
                    </h5>
                {% else %}
                    <h5 class="text-dark blog-card-text">
                        {{ post.en_title }}
                    </h5>
                {% endif %}
            </div>
            <div class="blog-body mb-2">
                <p class="blog-card-content">
                    {% if CURRENT_LANGUAGE == "uk" %}
                        {{ post.uk_content|striptags|truncatewords:50|safe }}
                    {% else %}
                        {{ post.en_content|striptags|truncatewords:50|safe }}
                    {% endif %}
                </p>  

                <div class="blog-author fw-bolder blog-card-author">
                    By 
                    {% if CURRENT_LANGUAGE == "uk" %}
                        {{ post.author.uk_full_name }}
                    {% else %}
                        {{ post.author.en_full_name }}
                    {% endif %}
                </div>
            </div>
            
        </div>
    </a>
</div>
