{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="p-3"></div>
        <div class="text-center">
            <h3>{% trans "General members" %}</h3>
        </div>
    <div class="p-2"></div>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2">

        {% for member in members %}
        <a href="{{ member.link }}" class="text-decoration-none text-dark" target="_blank">
            <div class="col">
                <div class="card mb-4 card-gm">
                    <div>
                        <img class="card-img-top gm-image" alt="Team foto" src="{{ member.banner.url }}"
                        style="width: {% if member.is_rounded %}70%{% else %}100%{% endif %};">
                    </div>
                    <div class="card-body p-0 gm-text">
                        <p class="">
                            {% if CURRENT_LANGUAGE == "uk" %}

                                {{ member.uk_name }}

                            {% else %}

                                {{ member.en_name }}

                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}