{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="p-3"></div>
        <div class="text-center">
            <h3>{% trans "Our partners" %}</h3>
        </div>
    <div class="p-2"></div>
    <div class="row row-cols-xl-4">

        {% for member in members %}
        <div class="col d-flex justify-content-center mt-4 rounded">
            <a href="{{ member.link }}"
               class="text-dark text-decoration-none">
                <div class="">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{{ member.banner.url }}"
                             class="w-100 h-100 rounded"
                             alt="Our partner">
                    </div>
                    <div class=" d-flex flex-column  text-align-justify align-items-center">
                        <h5 class="text-center w-100 pt-2 blogscholar-name" style="color: #004494;">
                            {% if CURRENT_LANGUAGE == "uk" %}
                                {{ member.uk_name }}
                            {% else %}
                                {{ member.en_name }}
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}