{% extends "blog/base_generic.html" %}

{% block content %}
    <div class="text-center join-us-foto d-flex align-items-center justify-content-center">
        <img src="https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block mx-auto w-100 h-100 ob-cover">
        <p class="h1 text-white join-us-text">Join us</p>
    </div>

<div class="p-3"></div>
<div class="container">

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis fugit veniam molestiae voluptates
        suscipit molestias libero eum ad facere optio officia adipisci explicabo beatae, iusto voluptas nisi cum labore
        delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo illum! Tempore, a. Debitis vel
        blanditiis quasi similique consequuntur maiores eos, dolorum officiis accusantium magni, dolores error commodi
        qui! Culpa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae, cumque quidem labore eligendi delectus
        velit sapiente repudiandae maxime, voluptas atque facilis voluptates ullam quo hic porro qui minima voluptate.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis fugit veniam molestiae voluptates
        suscipit molestias libero eum ad facere optio officia adipisci explicabo beatae, iusto voluptas nisi cum labore
        delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo illum! Tempore, a. Debitis vel
        blanditiis quasi similique consequuntur maiores eos, dolorum officiis accusantium magni, dolores error commodi
        qui! Culpa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae, cumque quidem labore eligendi delectus
        velit sapiente repudiandae maxime, voluptas atque facilis voluptates ullam quo hic porro qui minima voluptate.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis fugit veniam molestiae voluptates
        suscipit molestias libero eum ad facere optio officia adipisci explicabo beatae, iusto voluptas nisi cum labore
        delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo illum! Tempore, a. Debitis vel
        blanditiis quasi similique consequuntur maiores eos, dolorum officiis accusantium magni, dolores error commodi
        qui! Culpa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae, cumque quidem labore eligendi delectus
        velit sapiente repudiandae maxime, voluptas atque facilis voluptates ullam quo hic porro qui minima voluptate.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis fugit veniam molestiae voluptates
        suscipit molestias libero eum ad facere optio officia adipisci explicabo beatae, iusto voluptas nisi cum labore
        delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo illum! Tempore, a. Debitis vel
        blanditiis quasi similique consequuntur maiores eos, dolorum officiis accusantium magni, dolores error commodi
        qui! Culpa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae, cumque quidem labore eligendi delectus
        velit sapiente repudiandae maxime, voluptas atque facilis voluptates ullam quo hic porro qui minima voluptate.
    </p>
</div>
{% endblock content %}