{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
    <div class="text-center join-us-foto d-flex align-items-center justify-content-center">
        <img src="https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block mx-auto w-100 h-100 ob-cover">
        <p class="h1 text-white join-us-text">{% trans "Join team" %}</p>
    </div>

<div class="p-3"></div>
<div class="container">

    {% if join_form %}
    <form class="main-join-team" method="post", enctype="multipart/form-data">
        <div class="container">
          <h1 class="">{% trans "Join team" %}</h1>
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="{{ join_form.first_name.id_for_label }}">{{ join_form.first_name.label }}</label>
              {{ join_form.first_name }}
            </div>
      
            <div class="col-md-6 form-group">
              <label for="{{ join_form.last_name.id_for_label }}">{{ join_form.last_name.label }}</label>
              {{ join_form.last_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 group-control">
              <label for="{{ join_form.email.id_for_label }}">{{ join_form.email.label }}</label>
              {{ join_form.email }}
            </div>
      
            <div class="col-md-6 group-control">
                <label for="{{ join_form.education_level.id_for_label }}">{{ join_form.education_level.label }}</label>
                {{ join_form.education_level }}
            </div>
          </div>
      
          <div class="group-control">
            <label for="{{ join_form.expertise_area.id_for_label }}">{{ join_form.expertise_area.label }}</label>
            {{ join_form.expertise_area }}
          </div>

          <div class="group-control">
            <label for="{{ join_form.expectations.id_for_label }}">{{ join_form.expectations.label }}</label>
            {{ join_form.expectations }}
          </div>

          <div class="row">
            <div class="col-md-6 group-control">
                <label for="{{ join_form.resume.id_for_label }}">{{ join_form.resume.label }}</label>
                {{ join_form.resume }}
            </div>

            <div class="col-md-6 group-control">
                <button type="submit" name="join_team" class="form-group btn btn-primary">
                    {% trans 'Send' %}
                </button>
            </div>
          </div>

        </div>
    </form>
    {% endif %}


</div>
{% endblock content %}