{% extends "blog/base_generic.html" %}
{% load i18n %}

{% block content %}
    <div class="text-center join-us-foto d-flex align-items-center justify-content-center">
      {% include 'include/media/bg_photo.html' %}
      <p class="h1 text-white join-us-text">
        {% trans "Volunteer" %}
      </p>
    </div>

<div class="p-3"></div>
<div class="container">
    <p class="card-text">
        {% if CURRENT_LANGUAGE == "uk" %}

            {% include 'translates/uk/volunteer.html' %}

        {% else %}

            {% include 'translates/en/volunteer.html' %}

        {% endif %}
    </p>

    {% if volunteer_form %}
    <form class="main-join-team" method="post" enctype="multipart/form-data">
        <div class="position-relative">
          <h1 class="">{% trans "Volunteer" %}</h1>
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="{{ volunteer_form.first_name.id_for_label }}">{{ volunteer_form.first_name.label }}</label>
              {{ volunteer_form.first_name }}
            </div>

            <div class="col-md-6 form-group">
              <label for="{{ volunteer_form.last_name.id_for_label }}">{{ volunteer_form.last_name.label }}</label>
              {{ volunteer_form.last_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 group-control">
              <label for="{{ volunteer_form.dob.id_for_label }}">{{ volunteer_form.dob.label }}</label>
              {{ volunteer_form.dob }}
            </div>

            <div class="col-md-6 group-control">
              <label for="{{ volunteer_form.city.id_for_label }}">{{ volunteer_form.city.label }}</label>
              {{ volunteer_form.city }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 group-control">
              <label for="{{ volunteer_form.email.id_for_label }}">{{ volunteer_form.email.label }}</label>
              {{ volunteer_form.email }}
            </div>

            <div class="col-md-6 group-control">
              <label for="{{ volunteer_form.phone.id_for_label }}">{{ volunteer_form.phone.label }}</label>
              {{ volunteer_form.phone }}
            </div>
          </div>

          <div class="col-md-12 group-control">
            <label for="{{ volunteer_form.employment.id_for_label }}">{{ volunteer_form.employment.label }}</label>
            {{ volunteer_form.employment }}
          </div>

          <div class="col-md-12 group-control align-self-end text-end mt-1">
            <button type="submit" name="volunteer" class="form-group btn btn-primary ">
                {% trans 'Send' %}
            </button>
          </div>

        </div>
    </form>
    {% endif %}
</div>
{% endblock content %}