<div class="card mb-5">
    <div class="row g-0">
        <div class="col-md-4" style="height: 282px;">
            <a href="{{ news.get_absolute_url }}" class="text-dark text-decoration-none">
            <img src="{{ news.banner.url }}"
                    class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover" alt="..."
            >
            </a>
        </div>
        <div class="col-md-8">
            <a href="{{ news.get_absolute_url }}" class="text-dark text-decoration-none">
                <div class="card-body d-flex justify-content-center flex-wrap" style="height: 235px;">
                    <h5 class="card-title">
                        {% if CURRENT_LANGUAGE == "uk" %}
                            {{ news.uk_title }}
                        {% else %}
                            {{ news.en_title }}
                        {% endif %}
                    </h5>
                    <p class="card-text text-center fs-6">
                        {% if CURRENT_LANGUAGE == "uk" %}
                            {{ news.uk_subtitle }}
                        {% else %}
                            {{ news.en_subtitle }}
                        {% endif %}
                    </p>
                </div>
            </a>
            <div class="d-flex justify-content-between card-footer bg-transparent border-secondary">
                {% if news.author %}
                    <a href="{{ news.author.get_absolute_url }}" style="text-decoration: none;">
                        <small class="text-muted fs-5">
                            {% if CURRENT_LANGUAGE == "uk" %}
                                {{ news.author.uk_full_name }}
                            {% else %}
                                {{ news.author.en_full_name }}
                            {% endif %}    
                        </small>
                    </a>
                {% else %}
                    <small class="text-muted fs-6">{{ news.date_of_creation }}</small>
                {% endif %}
                    <small class="text-muted fs-6">{{ news.policy_area }}</small>
            </div>
        </div>
    </div>
</div>