<a href="{{ news.get_absolute_url }}" class="text-dark text-decoration-none">
    <div class="card mb-5">
        <div class="row g-0">
            <div class="col-md-4" style="height: 282px;">
                <img src="{{ news.banner.url }}"
                     class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover" alt="...">
                <div class="card-img-overlay">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body " style="height: 235px;">

                    {% if CURRENT_LANGUAGE == "uk" %}
                        <h5 class="card-title">{{ news.uk_title }}</h5>
                        <p class="card-text">{{ news.uk_subtitle }}</p>
                    {% else %}
                        <h5 class="card-title">{{ news.en_title }}</h5>
                        <p class="card-text">{{ news.en_subtitle }}</p>
                    {% endif %}

                </div>
                <div class="d-flex justify-content-between card-footer bg-transparent border-secondary">
                    {% if news.author %}
                        <small class="text-muted fs-5">
                            {% if CURRENT_LANGUAGE == "uk" %}
                                {{ news.author.uk_full_name }}
                            {% else %}
                                {{ news.author.en_full_name }}
                            {% endif %}    
                        </small>
                    {% else %}
                        <small class="text-muted fs-5">{{ news.date_of_creation }}</small>
                    {% endif %}
                        <small class="text-primary fs-5">{{ news.policy_area }}</small>
                </div>
            </div>
        </div>
    </div>
</a>