{% load i18n %}
<div class="col">
    <a href="{{ news.get_absolute_url }}"
       class="text-dark text-decoration-none">
        <div class="card">
            <div class="d-flex align-items-center justify-content-center" style="height: 180px;">
                <img src="{{ news.banner.url }}"
                     class="img-fluid rounded-start d-block mx-auto w-100 h-100 ob-cover"
                     alt="...">
            </div>
            <small class="text-muted fs-6">
                {% if news.policy_area == "Human rights" %}
                {% endif %}
            </small>

            <div class="card-body card-castom d-flex justify-content-center flex-column" style="height: 215px;">
                <h5 class="card-title pb-2"> 
                    {% if CURRENT_LANGUAGE == "uk" %}
                        {{ news.uk_title }}
                    {% else %}
                        {{ news.en_title }}
                    {% endif %}
                </h5>
                <p class="card-text text-center fs-6">
                    {% if CURRENT_LANGUAGE == "uk" %}
                        {{ news.uk_subtitle }}
                    {% else %}
                        {{ news.en_subtitle }}
                    {% endif %}
                </p>

            </div>

                </a>
            <div class="d-flex justify-content-between card-footer bg-transparent border-secondary">
                <small class="text-muted fs-6" style="margin-right: 10px;">{{ news.date_of_creation }}</small>
                <a href="{% url 'policy_area' slug=news.policy_area.slug %}" class="text-decoration-none">
                    <small class="text-muted fs-6" style="margin-right: 10px;">{% trans news.policy_area.name %}</small>
                </a>

            </div>
        </div>

</div>